@model IEnumerable<Sandy_JSON_20190415_Q1.Models.ViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table table-bordered table-striped" table border="1">
        <thead class="bg-primary">
            <tr>
                <th>Date</th>
                <th>ProductName</th>
                <th>Price</th>
                <th>PromotePrice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Promote_Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
